// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-charcoal: #444444;
$color-gainsboro: #dcdcdc;
$color-whisper: #ebebeb;
$color-white-smoke: #f0f0f0;

$color-sweet-corn: #ffe17f;
$color-tangerine-yellow: #ffc700;
$color-medium-orchid: #af4fff;

$color-coral-red: #ff3d3d;
$color-neon-carrot: #fd912e;
$color-islamic-green: #08af00;

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;


$ff-rubik: "Rubik", sans-serif;

$ff-raleway: "Raleway",  sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
